<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Artimora</title>

  <!-- styles -->
  <link rel="stylesheet" href="../stylesheets/styles.css">
  <link rel="stylesheet" href="../stylesheets/animations.css">
  <link rel="stylesheet" href="../stylesheets/responsive.css">
</head>

<body>

  <section id="hero">

    <div class="section-box">

      <div class="content-wrap">
        <header>
          <a class="header-logo"><span>Art</span>imora</a>
          <nav>
            <a href="/" class="nav-items ">Home</a>
            <a href="/homePage" class="nav-items">Shop</a>
            <a href="Register" class="nav-items">Sign Up</a>
            <a href="" class="nav-items">Contacts</a>
          </nav>
        </header>
        <div class="hero-content">
          <h3>welcome to</h3>
          <h1>artimora</h1>
          <img src="../images/61pFJNKPIrL._AC_UF894,1000_QL80_.png" class="hero-img">
          <button class="hero-btn">join with us</button>
        </div>
      </div>

    </div>

  </section>

  <section id="about">
    <div class="section-box">
      <div class="content-grid">
        <div class="left-grid">
          <h3 class="section-sub">About us</h3>
          <h2 class="section-title">Who we are?</h2>
          <p>
            Welcome to Artimora, your online haven for vintage arts and crafts! At Artimora, we believe that every piece of art tells a story, and we’re here to help you discover those tales through our carefully curated collection of vintage treasures.
            Our journey began with a passion for craftsmanship and a love for all things nostalgic. We source unique, high-quality vintage items that celebrate the artistry of the past, bringing them into your home for a new chapter of appreciation. From intricate handmade crafts to timeless decorative pieces, our selection reflects the charm and character of bygone eras.
            In addition to offering these beautiful items for sale, we’re committed to sharing our knowledge and passion through our blog.
          </p>
          <button class="action-btn">Learn More</button>
        </div>

        <div class="right-grid">
          <img src="../images/chand.png" class="about-img">
        </div>
      </div>
    </div>
  </section>

  <section id="projects">
    <div class="section-box">
      <div class="content-grid">
        <div class="right-grid">
          <img src="../images/chakli 2.jpg" class="about-img">
        </div>
        <div class="left-grid">
          <h3 class="section-sub">projects</h3>
          <h2 class="section-title">What we did?</h2>
          <p>
            1. Curated Craft Product Collections: We’ve carefully curated a wide range of arts and crafts products, from paints and brushes to beads, fabric, and tools, ensuring that every creative project is a success.<br><br>

            2. Premium Materials for Every Craft: Whether you're into painting, knitting, scrapbooking, or DIY projects, we've sourced the best materials to help you create beautiful, one-of-a-kind pieces.<br><br>

            3. New Product Launches: We continuously add new and exciting items to our collection, keeping up with the latest trends and innovations in the world of arts and crafts.
          </p>
          <button class="action-btn">more projects</button>
        </div>

      </div>
    </div>
  </section>

  <section id="join-us">
    <div class="section-box">

      <div class="content-wrap">

        <h3 class="section-sub">join with us</h3>
        <h2 class="section-title">Artimora</h2>

        <div class="join-form">
          <input type="text" class="input-1 i1" placeholder="Your Name">
          <input type="email" class="input-1 i2" placeholder="Your Email">
          <input type="text" class="input-1 i3" placeholder="Your Number">
          <input type="text" class="input-1 i4" placeholder="Your Address">

          <p>Membership</p>
          <div class="checkbox-wrap">
            <label><input type="checkbox"> Individual</label>
            <label><input type="checkbox"> Family</label>
            <label><input type="checkbox"> Corporate</label>
          </div>

          <button class="join-btn">be a member</button>

        </div>

      </div>

    </div>

  </section>

  <section id="footer">
    <div class="section-box">
      <div class="footer-grid">

        <div>
          <h3>Quick Links</h3>

          <a class="footer-items f1">Home</a>
          <a class="footer-items f2">about us</a>
          <a class="footer-items f3">projects</a>
          <a class="footer-items f4">resources</a>
          <a class="footer-items f5">blog</a>
          <a class="footer-items f6">contacts</a>

        </div>

        <div>
          <h3>Contacts</h3>

          <a class="footer-items f1">+91 9101808438</a>
          <a class="footer-items f2">+91 9387033589</a>
          <a class="footer-items f3">sauravgayan14@gmail.com</a>
          <a class="footer-items f4">Guwahati, Assam</a>
        </div>

        <div>
          <h3>Socials</h3>

          <a class="footer-items f1">facebook</a>
          <a class="footer-items f2">youtubr</a>
          <a class="footer-items f3">instagram</a>
          <a class="footer-items f4">linkedin</a>
          <a class="footer-items f5">twitter</a>
        </div>

      </div>

      <p class="copyrights">© saurav gayan | all rights reserved</p>
    </div>
  </section>

</body>

</html>